/****** POSITIONNEMENT INITIAL ******/
[name=urba] {
}
[name=consMu] {
}
[name=acteRegMa] {
    top: 703px;
}
[name=etatCiv] {
    top: 703px;
}
[name=acteRegPre] {
    top: 998px;
}
[name=comCom] {
    top: 998px;
}
[name=enviro] {
    top: 1293px;
}
[name=infos] {
    top: 1293px;
}